{% extends 'base.html' %}

{% load static %}

<script src='https://kit.fontawesome.com/a076d05399.js'></script>

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light my-1" style="background-color: #e3f2fd;">
	<div class="nav-item">
		<!-- Button trigger modal -->
        <button type="button" class="btn btn-success mr-auto mb-2 my-auto" data-toggle="modal" data-target="#uploadModal">
        	upload
        </button>
	</div>

	<form class="ml-auto" action="/search">
	  <div class="form-row align-items-center">
	    <div class="col-auto nav-item" style="padding: 0;">
	      <label class="sr-only" for="inlineFormInput">Lecturer Name</label>
	      <input type="text" class="form-control mb-2 my-auto" id="inlineFormInput" placeholder="Lecturer Name" name="lecturer_name">
	    </div>

		<div class="col-auto nav-item or">
			<span>-or-</span>
		</div>

	    <div class="col-auto nav-item" style="padding: 0;">
	      <label class="sr-only" for="inlineFormInputGroup">Tags</label>
	      <div class="input-group mb-2 my-auto">
	        <div class="input-group-prepend">
	          <div class="input-group-text">@</div>
	        </div>
	        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Tags" name="tags">
	      </div>
	    </div>
		
		<div class="col-auto nav-item or">
			<span>-or-</span>
		</div>

	    <div class="col-auto nav-item">
	      <div class="form-check" style="padding: 0;">
	        <select class="custom-select" id="inlineFormCustomSelect" name="year">
		        <option selected value="1">1st Year</option>
		        <option value="2">2nd Year</option>
		        <option value="3">3rd Year</option>
		        <option value="4">4th Year</option>
		     </select>
	      </div>
	    </div>

	    <div class="col-auto nav-item">
	      <div class="form-check" style="padding: 0;">
	        <select class="custom-select" id="inlineFormCustomSelect" name="sem">
		        <option selected value="1">1st Sem</option>
		        <option value="2">2nd Sem</option>
		     </select>
	      </div>
	    </div>

	    <div class="col-auto nav-item">
	      <button type="submit" class="btn btn-primary mb-2 my-auto search_submit">Search</button>
	    </div>
	  </div>
	</form>
</nav>

<div class="container">
	{% for img in imgs %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{img}}"> img </a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class='fas fa-trash-alt' id="{{img}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for vid in vids %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{vid}}"> vid </a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{vid}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for pdf in pdfs %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{pdf}}">pdf</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{pdf}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for doc in docs %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{doc}}">doc</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{doc}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for ppt in ppts %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{ppt}}">ppt</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{ppt}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for word in words %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{word}}">word</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{word}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for txt in txts %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{txt}}">txt</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{txt}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}


	{% for unkown in unkowns %}
		<div class="row" style="border-radius: 5px;">
			<a href="/media/{{unkown}}">unkown</a>
			<div class="deleteicon my-auto ml-auto mr-3">
				<i class="fas fa-trash-alt" id="{{unkown}}" aria-hidden="true"></i>
			</div>
		</div>
	{% endfor %}

</div>

{% endblock %}